:root {
    --green-light: #13ff13ff;
    --landing-height: 500px;
}

* {
    font-family: 'Open Sans', sans-serif;
}

html {
    font-size: 80%;
}

body {
    overflow-x: hidden;
    background-color: #f2f2f2ff;
}

header div a {
    color: var(--green-light);
    border: 2px solid currentColor;
}

header div {
    justify-content: space-between;
    align-items: center;
}

#landing {
    background-image: url(dallas-landing.jpg);
    background-size: cover;
    position: relative;
    height: var(--landing-height);
    background-position: top center;
}

#landing-text {
    top: 50%;
    width: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#landing-text div {
    display: grid;
    place-items: center center;
}


#orange-filter {
    width: 100%;
    height: 100%;
    background-color: #ffa82fff;
    background-size: auto var(--landing-height);
    opacity: .5;
}

h1 {
    font-weight: 600;
    text-align: center;
}

figcaption {
    display: grid;
    place-items: center center;
}

figcaption span {
    padding: 10px;
    transform: translateY(1px);
}

figcaption span a {
    color: #00570fff;
}

h1,
h2,
figcaption {
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: .1rem;
}

h1 span {
    font-family: 'Open Sans Condensed', sans-serif;
    color: var(--green-light);
}

#skill span {
    background-color: #ffc97fff;
    padding: .25rem 1rem;
    border-radius: 10px;
    font-weight: bold;
}

#black,
#white {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 10;
}

#black {
    top: -1px;
    left: 0;
}

#white {
    bottom: -1px;
    left: 0;
}

#black .curtain {
    width: 100%;
    background-image: url(black-curtain.svg);
    height: 100%;
    background-repeat: repeat-x;
    transform: translateY(-2px);
}

#white .curtain {
    width: 100%;
    background-image: url(white-curtain.svg);
    background-position: bottom;
    height: 100%;
    background-repeat: repeat-x;
    transform: translateY(2px);
}

#skill p {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-gap: 10px;
}

h2 {
    color: #00570fff;
    font-weight: bold;
    margin-bottom: 5px;
}

#personal-container {
    height: 1200px;
    display: grid;
}

#personal {
    display: grid;
    grid-template-areas: "about""skill""plan";
    grid-gap: 5rem;
    overflow: hidden;
}

#about {
    grid-area: about;
}

#skill {
    grid-area: skill;
}

#plan {
    grid-area: plan;
}

#personal,
footer div,
header div {
    width: 80%;
    margin: auto;
}

footer {
    height: 500px;
    color: #ffc97fff;
    display: grid;
    place-items: center center;
    position: relative;
}

h3 {
    color: #ffc97fff;
    border-bottom: 4px solid #ffc97fff;
}

#social {
    position: absolute;
    top: 80%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

@media (min-width: 640px) {

    :root {
        --landing-height: 500px;
    }

    #personal-container {
        height: 1100px;
    }
}

@media (min-width: 768px) {

    :root {
        --landing-height: 600px;
    }
}

@media (min-width: 1024px) {
    h1 {
        width: 800px;
        margin: auto;
    }

    #personal {
        display: grid;
        grid-template-columns: 60% 30%;
        place-items: flex-start stretch;
        grid-template-areas:
            "about skill"
            "plan .";
    }

    #personal-container {
        place-items: center center;
    }

    #personal,
    header div,
    footer div {
        width: 950px;
    }

    #social {
        width: 800px;
    }

    :root {
        --landing-height: 700px;
    }
}
